.rc-time-picker-panel {
    z-index: 1301 !important;
}

.rc-time-picker-input:enabled {
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: black;
    border: 1px solid rgba(0,0,0, 0.38)
}

.rc-time-picker-clear-icon:after {
    color: black;
    font-size: 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.rc-time-picker-panel-select-option-selected {
    background-color: #0079D1!important;
    color: white;
}

.rc-time-picker-panel-select::-webkit-scrollbar, .rc-time-picker-input::-webkit-scrollbar, .rc-time-picker-panel-input::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.rc-time-picker-input:disabled {
    background: white;
}

.rc-time-picker-input:hover:enabled {
    border: 1px solid #33383E;
}